*.class
*.log

# ide
.idea
.ijwb
.vscode
.bsp
.metals
.vscode
.bazelbsp

# bazel
bazel-bin
bazel-out
bazel-testlogs
bazel-scala-bazel-monorepo

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
